<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" href="/static/css/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
	<title>Papernet of Things</title>
</head>
<body>
	<div class="center">
		<table>
			<tr>
				<td>
					<form action="/papernet">
						<input type="submit" value = "Home">
					</form>
				</td>
				<td>
					<form action="/papernet/about">
						<input type="submit" value = "About">
					</form>
				</td>
				<td>
					<form action="/papernet/market_research">
						<input type="submit" value = "Market Research">
					</form>
				</td>
				<td>	
					<form action="/papernet/features">
						<input type="submit" value = "Product Features">
					</form>
				</td>
				<td>
					<form action="/papernet/features">
						<input type="submit" value = "Contact Us">
					</form>
				</td>
			</tr>
		</table>
		{% block content %}{% endblock %}
	</div>
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>