{% extends "base.html" %}
{% block content %}
<h1> The Papernet of Things</h1>
<img src = "/static/photos/PapernetOfThings.png"><br>
<p>The United States is the world's top consumer of paper products in the world, with much of this used paper going into landfills as waste. Some of this paper is recycled, but many paper products cannot be recycled such as pizza boxes and coffee cups. We, the Papernet of Things, want to use these currently non-recyclable materials to create new products, thus reducing the amount of paper products that end up in landfills. This semester, we will be focusing on creating cell phone cases out of used pizza boxes.</p>

<p>Copyright © Papernet of Things 2015 </p>
{% endblock %}